<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <br>
            <H2>Encender PCs</H2>
           <form action="/dashboard/cmd" method="post" >  
            <hr>
            <input type="hidden" value="pc1" name="cmd"/>
            <h4>PC i7 Sobremesa</h4>
                <button class="btn btn-lg btn-info"><i class="fa fa-power-off" aria-hidden="true"></i> Encender</button>
           </form>

            <form action="/dashboard/cmd" method="post" >  
            <hr>
             <input type="hidden" value="pc2" name="cmd"/>
            <h4>PC Work</h4>
                <button class="btn btn-lg btn-warning"><i class="fa fa-power-off" aria-hidden="true"></i> Encender</button>
           </form>
        </div>
    </div>
</div>


