<form action="/{{URL}}/page/1/" method="get">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <input  type="text" class="form-control" name="search_text" placeholder="{{properties.textoBusqueda}}"  autofocus>
            </div>
        </div>                           
        
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block">
                    <i class="fas fa-search"></i> Buscar
            </button>
        </div>
    </div>  
</form>